<!doctype html>
<html xmlns:th="http//www.thymeleaf.org" lang="en">
<head th:replace="layout::site-head">
    <title>Blog</title>
</head>
<body>

<header th:replace="layout::site-header"/>
<div class="container is-fluid">

    <div class="columns is-mobile is-centered">
        <div class="column is-half is-narrow">
            <br/>
            <br/>
            <form action="#" th:action="@{/posts/create}" th:object="${newPostForm}" method="post">

                <div class="field is-horizontal">
                    <div class="field-label is-medium">
                        <label class="label">Titulo :</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input is-medium" type="text" th:field="*{title}"/>
                                <p class="help is-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">body Error</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-medium">
                        <label class="label">Contenido :</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" rows="10" th:field="*{body}"/>
                                <p class="help is-danger" th:if="${#fields.hasErrors('body')}" th:errors="*{body}">body Error</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-grouped is-grouped-right">
                    <p class="control">
                        <input type="hidden" th:field="*{id}"/>
                    </p>
                    <p class="control">
                        <input class="button is-light" type="reset" value="Reset"/>
                    </p>
                    <p class="control">
                        <input class="button is-primary" type="submit" value="Submit"/>
                    </p>
                </div>
            </form>
            <br/>
            <br/>
        </div>
    </div>
</div>

<footer th:replace="layout::site-footer"/>
</body>
</html>