<!doctype html>
<html xmlns:th="http//www.thymeleaf.org" lang="en">
<head th:replace="layout::site-head">
    <title>Welcome to Spring MVC Blog</title>
</head>

<body>
<header th:replace="layout::site-header"/>

<div class="container">

    <div class="row" th:each="item: ${list}">
        <h3>Titulo del post</h3>
        <img src="../static/avatar.jpg" th:src="@{static/avatar.jpg}" width="60" height="60" class="img-circle" />
        <b th:text="${item}"></b>
        <div class=".col-md-6">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue erat eget accumsan placerat. Vestibulum rhoncus vehicula justo suscipit pellentesque. Sed magna urna, porta et ornare non, vehicula at dui. Vivamus dictum massa sagittis tellus tristique malesuada. Sed consectetur blandit malesuada. Morbi sem sapien, consequat vitae eleifend ac, eleifend et justo. Integer sed congue sapien. Nullam rutrum commodo sem, vel accumsan nisi consequat sit amet. Suspendisse non accumsan ante. Praesent vulputate, sem vitae placerat sagittis, augue mi egestas nisl, non tincidunt est massa a justo. Quisque interdum, nunc non tristique interdum, quam urna ultrices nibh, vitae interdum ex metus ultricies lacus. Donec sed rhoncus dui. Cras eget scelerisque lacus. In fringilla rhoncus gravida. Vestibulum in nisl tempor, maximus quam sed, facilisis tortor.
            </p>
            <p>
                Maecenas quis tincidunt augue, nec hendrerit lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent lectus ligula, suscipit eu nibh et, viverra eleifend quam. Maecenas egestas, arcu quis varius commodo, erat lorem elementum ipsum, eu hendrerit nisi nisl quis purus. In nec pretium erat, ac euismod lorem. Aliquam porttitor vestibulum semper. Maecenas sit amet lorem in lacus feugiat rhoncus eget at velit. Curabitur molestie, sapien vel laoreet ullamcorper, dolor nunc consequat nunc, at ultricies nisl libero nec nisi. Fusce lobortis aliquam sapien, nec placerat nibh varius ac. In luctus risus non ante dictum ullamcorper. Integer dolor leo, tincidunt sit amet dignissim id, molestie a velit. Nulla accumsan luctus iaculis. Praesent leo eros, sodales a odio sit amet, pulvinar bibendum ex. Phasellus iaculis dictum odio, sed vulputate eros. Pellentesque risus diam, auctor a dui sit amet, venenatis gravida risus.
            </p>
            <p>
                Fusce porta egestas diam, vel interdum orci blandit id. Nullam tempus nec ipsum sit amet ornare. Quisque dictum, nisl et sollicitudin fringilla, nulla enim commodo turpis, sed interdum risus ante nec risus. Mauris semper neque et urna mattis, id pharetra erat tincidunt. Donec accumsan velit mi, in pharetra tortor imperdiet quis. Donec condimentum, urna id dictum dignissim, ligula purus lobortis lectus, ullamcorper commodo sapien nisi sit amet magna. Quisque placerat velit urna, in convallis est imperdiet ut. Nulla sagittis est a faucibus eleifend. Integer ut blandit tellus. Curabitur velit lorem, dignissim et porta ac, rhoncus elementum ipsum. Aliquam magna quam, hendrerit nec metus et, iaculis placerat metus.
            </p>
        </div>
    </div>

</div>

<footer th:replace="layout::site-footer"/>
</body>
</html>