<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta th:include="this :: head" th:remove="tag"/>
</head>
<body>
<header th:fragment="site-header">
    <div class="navbar-default navbar">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="index.html" th:href="@{/}"><img src="../public/img/site-logo.png" th:src="@{/img/site-logo.png}"/></a></li>
                <li><a href="index.html" th:href="@{/}">Home</a></li>
                <li><a href="users/login.html" th:href="@{/users/login}">Login</a></li>
                <li><a href="users/register.html" th:href="@{/users/register}">Register</a></li>
                <li><a href="posts/index.html" th:href="@{/posts}">Posts</a></li>
                <li><a href="posts/create.html" th:href="@{/posts/create}">Create Post</a></li>
                <li><a href="users/index.html" th:href="@{/users}">Users</a></li>
            </ul>

            <form class="navbar-form navbar-right" method="post" th:action="@{/users/logout}">
                <span>Hello, <b>(user)</b></span>
                <button class="btn btn-default" type="submit"> Sign in</button>
            </form>

        </div>
    </div>


</header>
<footer th:fragment="site-footer">
    &copy; Spring MVC Blog System, 2016
</footer>
</body>
</html>